<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>消息详情</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4"><br/><br/><br/><br/><br/><img src="/images/editInfo.png" width="400"
                                                        height="330">
    </div>
    <div class="col-md-3">
        <form action="" name="form1" method="post">
            <br/><br/><br/><br/><br/>
            <div class="form-group">
                <label for="exampleInputEmail1"><font
                        size="6" >编辑</font></label>
                <input type="hidden" th:value="${info.id}" name="id" />
                <input type="text" class="form-control" th:value="${info.title}"name="title" width=200/>
            </div>

            <div class="form-group">
                <input type="text" readonly="true" class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" th:value="${info.date}" name="date" width=200/>
            </div>

            <div class="form-group">
		<textarea class="form-control" id="deblock_udid"
                  name="content" rows="8" style="min-width: 90%" placeholder="内容" th:text="${info.content}"> </textarea>

            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-default" value="保存"  onclick="form1.action='editInfo';form1.submit()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-default" align="left" value="删除" onclick="form1.action='deleteInfo';form1.submit()" >

        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<script src="/jquery/jquery-3.3.1.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>