<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>fail</title>
</head>
<body>
<p style="text-align:center">sorry,your login has been denied!</p><br>
<p style="text-align:center"><a href="login.html">you can click this to return login page!</a></p><br>
<p style="text-align:center">or</p>
<p style="text-align:center">you can click &nbsp <a href="register.html">me</a> &nbsp to register...</p>
</body>
</html>